<form id="productForm" action="http://localhost:8080/api/products/" method="POST" enctype="multipart/form-data">    
    <p>Product: </p>    
    <input type="text" name="title" placeholder="Product name" required>
    <p>What is it? </p>
    <input type="text" name="description" placeholder="Description">
    <p>Code: </p>
    <input type="text" name="code" placeholder="Code" required>
    <p>Price: </p>
    <input type="number" name="price" placeholder="Price" required>
    <p>Status: </p>
    <input type="checkbox" id="status" name="status" value="true">
    <p>Available stock: </p>
    <input type="number" name="stock" placeholder="Available quantity" required>
    <p>Category: </p>
    <select name="category">
        <option value="cake">Cake</option>
        <option value="cookie">Cookie</option>
        <option value="other">Other</option>
    </select>
    <br><br>
    <input type="file" name="prodImg">
    <br><br>
    <button type="submit">Save</button>
</form>
{{!-- To handle status check --}}
<script>
   document.getElementById('productForm').addEventListener('submit', function(event) {
    const statusCheckbox = document.getElementById('status');
    // If the stock is 0, set status to "false"
    const stockField = document.querySelector('input[name="stock"]');
    if (stockField.value == 0) {
        statusCheckbox.checked = false;
        statusCheckbox.value = 'false';
    } else {
        statusCheckbox.checked = true;
        statusCheckbox.value = 'true';
    }
});
</script>