<div class="container;">
    <h1>Add new product</h1>
    <div class="card" style="margin:10px; padding: 10px;">
        <form id="productForm" action="http://localhost:8080/api/products/" method="POST" enctype="multipart/form-data">
            <div class="mb-7">
                <label class="form-label">Product </label>
                <input class="form-control" type="text" name="title" placeholder="Product name" required>
            </div>
            <div class="mb-7">
                <label class="form-label">What is it? </label>
                <input class="form-control" type="text" name="description" placeholder="Description">
            </div>
            <div class="mb-7">
                <label class="form-label">Price </label>
                <input class="form-control" type="number" name="price" placeholder="Price" required>
            </div>
            <div class="mb-7">
                <label class="form-label">Available stock </label>
                <input class="form-control" type="number" name="stock" placeholder="Available quantity" required>
            </div>
            <div class="mb-7">
                <label class="form-label">Category </label>
                <select class="form-select" name="category">
                    <option value="cake">Cake</option>
                    <option value="cookie">Cookie</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="mb-7">
                <label class="form-label" for="prodImg"> Upload image</label>
                <input class="form-control" type="file" name="prodImg" id="prodImg">
            </div>
            <button class="btn btn-success" style="margin-top: 5px;" type="submit">Save</button>
        </form>
    </div>
</div>

<script src="/scripts/productForm.js"></script>