<div>
    <div class="container" style="padding:10px">
        <div class="row">
            <div class="col-6 text-start">
                <form action="http://localhost:8080/api/products/AddProduct" method="GET">
                    <button class="btn btn-primary" type="submit">Add product</button>
                </form>
            </div>
            <div class="col">
                <div class="sort-buttons">
                    <a href="http://localhost:8080/api/products/?sort=price_asc" class="btn btn-secondary">Min-Max price</a>
                    <a href="http://localhost:8080/api/products/?sort=price_desc" class="btn btn-secondary">Max-Min
                        price</a>
                </div>
            </div>
                <div class="col text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/">All</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=Cake">Cakes</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=Cookie">Cookies</a>
                            </li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=Other">Others</a>
                            </li>
                        </ul>
                
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="productsList">
        </div>
    </div>
</div>
<script src="/scripts/products.js"></script>