<div>
    <form id="productSocketForm" enctype="multipart/form-data">    
        <p>Product: </p>    
        <input id="formTitle" type="text" name="title" placeholder="Product name" required>
        <p>What is it? </p>
        <input id="formDescription" type="text" name="description" placeholder="Description">
        <p>Code: </p>
        <input id="formCode" type="code" name="code" placeholder="Code" required>
        <p>Price: </p>
        <input id="formPrice" type="number" name="price" placeholder="Price" required>
        {{!-- Podria hacer que el status sea un checkbox? --}}
        {{!-- Should I use JS in order to make the value of the checkbox always false  if the stock number is 0 (or true if there is stock)--}}
        <p>Status: </p>
        <input type="checkbox" id="formStatus" name="status" value="true">
        <p>Available stock: </p>
        <input id="formStock" type="number" name="stock" placeholder="Available quantity" required>
        {{!-- Podria hacer que la categoria sea una lista desplegable con las diferentes opciones? --}}
        <p>Category: </p>
        <select id="formCategory" name="category">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <br><br>
        <input id="formImage" type="file" name="prodImg">
        <br><br>
        <button type="submit">Save</button>
    </form>

    <div id="productsList">
        {{!-- Show product list --}}
    </div>
</div>

{{!-- To handle status check --}}
<script>
    document.getElementById('productSocketForm').addEventListener('submit', function(event) {
        // Get the checkbox element
        const statusCheckbox = document.getElementById('formStatus');
        // Set a hidden field for status value to ensure it is always submitted
        const statusHiddenInput = document.createElement('input');
        statusHiddenInput.type = 'hidden';
        statusHiddenInput.name = 'status';
        statusHiddenInput.value = statusCheckbox.checked ? 'true' : 'false';
        this.appendChild(statusHiddenInput);
    });
</script>

{{!-- Websocket --}}
<script src="/socket.io/socket.io.js"></script>
<script src="../../js/index.js"></script>