<h1>REGISTER</h1>
<form>
    <input type="text" name="name" id="name" placeholder="User name">
    <input type="email" name="email" id="email" placeholder="example@email.com">
    <input type="date" name="birthday" id="birthday" >
    <input type="password" name="password" id="password" placeholder="password">
    <button type="button" id="register"> Register</button>
</form>
<script src ="/scripts/register.js"></script>